/*css variables*/
:root {
 --primary:#ddd;
 --light:#fff;
 --dark:#333;
 --shadow: 0 1px 5px rgba(104, 104, 104,0.8);
 --bn: rgba(0,0,0,0.1);
}
html{
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 color:var(--dark)
}
body{
 background:#ccc;
 margin: 30px 50px;
 line-height: 1.4;
}
.btn {
 background: var(--dark);
 color: var(--light);
 padding: 0.6rem   ;
 text-decoration: none;
 border: 0;
 transition-property: transform;
 transition-duration: .5s;
 transition-timing-function: ease-in-out;
}
.btn:hover{
 background: var(--light) ;
 color: var(--dark);
 font-weight: bold;
 border-radius: 10px;
 
 transform: scale(1.2);

}
img {
 max-width: 100%;
}
.wrapper {
 display: grid;
 grid-gap: 20px;
}
/* navigation */
.main-nav ul {
 display: grid;
 grid-gap: 20px;
 padding: 0;
 list-style: none;
 grid-template-columns:repeat(4, 1fr);
  
}
.main-nav a{
 background: var(--primary);
 display: block;
 text-decoration: none;
 padding: 0.8rem;
 text-align: center;
 color: var(--dark);
 text-transform: uppercase;
 font-size: 1.1rem;
 box-shadow: var(--shadow);
 transition-property: transform;
 transition-duration: .5s;
 transition-timing-function: ease-in-out; 

}
.main-nav a:hover{
 background: var(--dark);
 color: var(--light);
 transform: scale(1.05);
}
/* top container */
.top-container{
 display: grid;
 grid-gap: 20px;
 grid-template-areas: 
 "showcase showcase top-box-a"
 "showcase showcase top-box-b ";
}
/* showcase */
.showcase{
 grid-area:showcase;
 min-height: 400px;  
 background: url(./images/showcase11.jpg);
 background-size: cover;
 background-position: center;
 padding: 3rem;
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
 box-shadow: var(--shadow);
}
.showcase h1{
 font-size: 4rem;
 margin-bottom: 0;
 color: var(--light);
 text-transform: capitalize;
 justify-self: center;
 align-self: center;
 opacity: 0;
 animation-name: btn1;
 animation-duration: 5s;
 animation-delay: 2s;
 animation-fill-mode: forwards;
}
@keyframes btn1 {
 0% {opacity: 0;}
 100% {opacity: 1;} 
}
.showcase p{
 font-size: 1.3rem;
 margin-top: 0;
 color: var(--light);
 opacity: 0;
 animation-name: btn1;
 animation-duration: 5s;
 animation-delay: 4s;
 animation-fill-mode: forwards;
}
@keyframes btn1 {
 0% {opacity: 0;}
 100% {opacity: 1;}
 }
 #btn2 { opacity: 0;
 animation-name: btn1;
 animation-duration: 5s;
 animation-delay: 6s;
 animation-fill-mode: forwards;
  
 }
 @keyframes btn1 {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }


/* top box */
.top-box {
 background: var(--primary);
 display: grid;
 align-items: center;
 justify-items: center;
box-shadow: var(--shadow);
padding: 1.5rem;
}
.top-box .price{
 font-size: 2.5rem;
} 
.top-box-a{
 grid-area: top-box-a;
}
.top-box-b{
 grid-area: top-box-b;
}
/* boxes */
.boxes {
 display: grid;
 grid-gap: 20px;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
 background:var(--primary);
 text-align: center;
 padding: 1.5rem 2rem;
 box-shadow: var(--shadow);
}
/* info */
.info {
 background:var(--primary) ;
 background-size: cover;
 background-position: center;
 box-shadow: var(--shadow);
 display: grid;
 grid-gap: 30px;
 grid-template-columns: repeat(2,1fr);
 padding:3rem
}
.info h2{
 text-transform: capitalize;

}
/* portfolio */
.portfolio {
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
.portfolio img{
width: 100%;
box-shadow: var(--shadow);
}
/* footer */
footer {
 margin-top: 2rem;
 background: var(--dark);
 color: var(--light);
text-align: center;
padding: 1rem;
}
/*media querries  */
@media(max-width:700px) {
 .top-container{
  grid-template-areas: 
  "showcase showcase"
  "top-box-a top-box-b";
 }
 .showcase h1{
  font-size: 2.5rem;
 }
 .main-nav ul{
  grid-template-columns: 1fr;
 }
 .info{
  grid-template-columns: 1fr;
 }
 .info .btn{
  display: block;
  text-align: center;
  margin: auto;
 }
}
@media(max-width:500px){
 .top-container{
  grid-template-areas: 
  "showcase"
  "top-box-a"
  "top-box-b";
 }
}